.dropdown-content
  = link_to "Settings", edit_user_registration_path, class: "dropdown-item is-size-6 px-5"
  = link_to "Edit Account", edit_user_registration_path, class: "dropdown-item is-size-6 px-5"
  = link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete, turbo_frame: :_top }, class: "dropdown-item is-size-6 px-5"
